.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

table th, td {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

table.shipments th, td {
	/* border: 1px solid black; for older IE */
    padding: 5px;
}

table.shipmentsRow th, td {
    width: 100%;
    /* border: 1px solid black; for older IE */
}

table.shipments th#selected,td#selected{
	width: 3%;
    text-align: center;
}

table.shipments th#customer,td#customer {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#address,td#address {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px;
}

table.shipments th#province,td#province {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 3% !important;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px 2px 0px 0px;
}


table.shipments th#ddt,td#ddt {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#insurance,td#insurance {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#sNote,td#sNote {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


table.shipments th#details,td#details {
    width: 37% !important;
    text-align: center;
}

table.shipmentsRow th#barCode,td#barCode {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    text-align: left !important;
    justify-content: flex-end;      
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#GLSRef,td#GLSRef {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 38% !important;
    width: 38% !important;
    text-align: left !important;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 1px;
}
table.shipmentsRow th#GLSArticle,td#GLSArticle {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 52% !important;
    width: 52% !important;
    text-align: left !important;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 1px;
}

table.shipmentsRow th#length,td#length {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;      
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#width,td#width {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#height,td#height {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#weight,td#weight {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;    
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#note,td#note {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 10px;
}
