<!-- <h1 class="mat-h1" style='text-align: center;'>
        Ordini da segnalare a trasportatore {{ forwarderVar }}
</h1> -->
<table style='width: 100%;'>
    <caption style='text-align: center;' class="mat-h1">Ordini da segnalare a trasportatore {{ forwarderVar }}</caption>
    <tr>
        <td style='width: 20% !important'>
            <mat-form-field>
                <mat-label>Vettore</mat-label>
                <mat-select id="forwarder"
                            [(ngModel)]="forwarderVar"
                            (selectionChange)="onForwarderChange($event)">
                    <div *ngFor="let item of forwarders;">
                        <mat-option [value]="item.id" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td style='width: 20% !important'>
            <mat-form-field>
                <mat-label>Data ritiro: </mat-label>
                <input matInput 
                    [matDatepicker]="pickupDate" 
                    [(ngModel)]="pickupDateVar"
                    (dateChange)="onDateChange()"
                    placeholder="Scegli data">
                <mat-datepicker-toggle matSuffix [for]="pickupDate"></mat-datepicker-toggle>
                <mat-datepicker #pickupDate></mat-datepicker>
            </mat-form-field>
        </td>


        <span *ngIf="forwarderVar == 'GLS'; else elseNoGLS">
            <td style='width: 20% !important'>
                <mat-form-field>
                    <mat-label>Ora ritiro: </mat-label>
                    <mat-select id="timeRange"
                                [(ngModel)]="timeRangeVar">
                    <div *ngFor="let item of timeRanges;">
                        <mat-option [value]="item.id" [disabled]="item.disabled">{{ item.des }}</mat-option>
                    </div>
                </mat-select>
                </mat-form-field>
            </td>
            <td style='width: 40% !important'>&nbsp;</td>
        </span>
        <ng-template  #elseNoGLS>
            <td style='width: 60% !important'>&nbsp;</td>
        </ng-template>
        </tr>
</table>

<table class="shipments" style='width: 100%;'>
    <tr>
        <th id="selected"><mat-checkbox [(ngModel)]='shipmentSelection' [checked]='false' (click)='toggleAllShipmentsSelection();'></mat-checkbox></th>
        <th id="customer">Cliente</th>
        <th id="address">Via</th>
        <th id="province">PV</th>
        <th id="ddt">DDT</th>
        <th id="insurance">Assicurazione</th>
        <th id="details" >Dettagli</th>
    </tr>
    <tr *ngFor="let shipment of shipments; index as i" [ngStyle]="shipment.pickupReuqestNo != null ? { background: '#cf1302', color: '#ffffff' } : null">
        <span *ngIf="shipment.pickupReuqestNo == null; else alreadyRequested">
            <td id="selected"><mat-checkbox [(ngModel)]='shipment.selected' [checked]='false' (click)='toggleShipmentSelection(i);'></mat-checkbox></td>
        </span>
        <ng-template  #alreadyRequested>
            <td id="selected">&nbsp;</td>
        </ng-template>
        <td id="customer">{{shipment.customer}}</td>
        <td id="address">{{shipment.address}}</td>
        <td id="province">{{shipment.province}}</td>
        <td id="ddt" style='text-align: right;'>{{shipment.ddt}}</td>
        <td id="insurance" style='text-align: right;'>{{shipment.insuranceMessage}}</td>
        <td id="details" style='text-align: left;'>
            <div>
                <span *ngIf="showHideShipment[i]; else elseBlock">
                    <span *ngIf="forwarderVar == 'GLS'; else elseNoGLS">
                        <table class="shipmentsRow">
                            <tr  (click)='changeShipmentVisibility(i);'>
                                <th id="GLSRef">Bar Code</th>
                                <th id="GLSArticle">Articolo</th>
                                <th id="weight">Kg</th>
                            </tr>
                            <tr *ngFor="let item of shipments[i].elements;"  (click)='changeShipmentVisibility(i);'>
                                <td id="GLSRef">{{item.barCode}}</td>
                                <td id="GLSArticle">{{item.note}}</td>
                                <td id="weight">{{item.weight}}</td>
                            </tr>
                        </table>
                    </span>
                    <ng-template  #elseNoGLS>
                        <table class="shipmentsRow">
                            <tr  (click)='changeShipmentVisibility(i);'>
                                <th id="barCode">Bar Code</th>
                                <th id="length">Lun</th>
                                <th id="width">Lar</th>
                                <th id="height">Alt</th>
                                <th id="weight">Kg</th>
                                <th id="note">Note</th>
                            </tr>
                            <tr *ngFor="let item of shipments[i].elements;"  (click)='changeShipmentVisibility(i);'>
                                <td id="barCode">{{item.barCode}}</td>
                                <td id="length">{{item.length}}</td>
                                <td id="width">{{item.width}}</td>
                                <td id="height">{{item.height}}</td>
                                <td id="weight">{{item.weight}}</td>
                                <td id="note">{{item.note}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </span>
                <ng-template style='font-size: xx-large' #elseBlock>
                    <button class="astext" (click)='changeShipmentVisibility(i);'>+</button>
                </ng-template>
            </div>
        </td>
    </tr>
</table>

<!--
<table #shipmentsTables mat-table [dataSource]="shipments">
    <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of shipmentsDisplayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
        <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="shipmentsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: shipmentsDisplayedColumns;"></tr>
</table>
<div class="example-element-detail" *ngIf="element.addresses?.data.length"
    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
</div>


<mat-dialog-content>
    <mat-table [dataSource]="dataSource" id="shipments" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox [(ngModel)]="checkAll" 
                            [checked]="checkAll"
                            (change)="changeCheckStatus($event)">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let shipment">
                <mat-checkbox [(ngModel)]="shipment.selected"></mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="customer">
            <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.customer}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Indirizzo</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.address}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="province">
            <mat-header-cell *matHeaderCellDef>PV</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.province}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="insurance">
            <mat-header-cell *matHeaderCellDef>Ass</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.insurance}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="length">
            <mat-header-cell *matHeaderCellDef>Lun</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.length}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="width">
            <mat-header-cell *matHeaderCellDef>Lar</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.width}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="heigth">
            <mat-header-cell *matHeaderCellDef>Alt</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.heigth}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="weigth">
            <mat-header-cell *matHeaderCellDef>Kg</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.weigth}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ddt">
            <mat-header-cell *matHeaderCellDef>DDT</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.ddt}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
            <mat-cell *matCellDef="let shipment">{{shipment.note}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="getShipmentsDisplayedColumns()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getShipmentsDisplayedColumns()"></mat-row>
    </mat-table>
</mat-dialog-content>
-->


<mat-dialog-actions>
    <button class="mat-raised-button"(click)="sendEmail()">Spedisci mail</button>
    <button class="mat-raised-button mat-primary"(click)="closeDialog()">Esci</button>
</mat-dialog-actions>