<!-- <h1 class="mat-h1" style='text-align: center;'>
        Ordini da segnalare a trasportatore {{ forwarderVar }}
</h1> -->
<table style='width: 100%;'>
    <caption style='text-align: center;' class="mat-h1">Ordini da segnalare a trasportatore {{ forwarderVar }}</caption>
    <tr>
        <td style='width: 20% !important'>
            <mat-form-field>
                <mat-label>Vettore</mat-label>
                <mat-select id="forwarder"
                            [(ngModel)]="forwarderVar"
                            (selectionChange)="onForwarderChange($event)">
                    <div *ngFor="let item of forwarders;">
                        <mat-option [value]="item.id" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td style='width: 20% !important'>
            <mat-form-field>
                <mat-label>Data ritiro: </mat-label>
                <input matInput 
                    [matDatepicker]="pickupDate" 
                    [(ngModel)]="pickupDateVar"
                    (dateChange)="onDateChange()"
                    placeholder="Scegli data">
                <mat-datepicker-toggle matSuffix [for]="pickupDate"></mat-datepicker-toggle>
                <mat-datepicker #pickupDate></mat-datepicker>
            </mat-form-field>
        </td>


        <span *ngIf="forwarderVar == 'GLS'; else elseNoGLS">
            <td style='width: 20% !important'>
                <mat-form-field>
                    <mat-label>Ora ritiro: </mat-label>
                    <mat-select id="timeRange"
                                [(ngModel)]="timeRangeVar">
                    <div *ngFor="let item of timeRanges;">
                        <mat-option [value]="item.id" [disabled]="item.disabled">{{ item.des }}</mat-option>
                    </div>
                </mat-select>
                </mat-form-field>
            </td>
            <td style='width: 40% !important'>&nbsp;</td>
        </span>
        <ng-template  #elseNoGLS>
            <td style='width: 60% !important'>&nbsp;</td>
        </ng-template>
        </tr>
</table>

<table class="shipments" style='width: 100%;'>
    <tr>
        <th id="selected"><mat-checkbox [(ngModel)]='shipmentSelection' [checked]='false' (click)='toggleAllShipmentsSelection();'></mat-checkbox></th>
        <th id="customer">Cliente</th>
        <th id="address">Via</th>
        <th id="province">PV</th>
        <th id="ddt">DDT</th>
        <th id="insurance">Assicurazione</th>
        <th id="details" >Dettagli</th>
    </tr>
    <tr *ngFor="let shipment of shipments; index as i" [ngStyle]="shipment.pickupRequestNo  != null ? { background: '#cf1302', color: '#ffffff' } : null">
        <span *ngIf="shipment.pickupRequestNo == null; else alreadyRequested">
            <td id="selected"><mat-checkbox [(ngModel)]='shipment.selected' [checked]='false' (click)='toggleShipmentSelection(i);'></mat-checkbox></td>
        </span>
        <ng-template  #alreadyRequested>
            <td id="selected">&nbsp;</td>
        </ng-template>
        <td id="customer">{{shipment.customerDescription}}</td>
        <td id="address">{{shipment.customerAddress}}</td>
        <td id="province">{{shipment.customerState}}</td>
        <td id="ddt" style='text-align: right;'>{{shipment.shipmentDocumentNo}}</td>
        <!--
        <td id="insurance" style='text-align: right;'>{{shipment.insuranceMessage}}</td>
        -->
        <td id="details" style='text-align: left;'>
            <div>
                <span *ngIf="showHideShipment[i]; else elseBlock">
                    <span *ngIf="forwarderVar == 'GLS'; else elseNoGLS">
                        <table class="shipmentsRow">
                            <tr  (click)='changeShipmentVisibility(i);'>
                                <th id="GLSRef">Bar Code</th>
                                <th id="GLSArticle">Articolo</th>
                                <th id="weight">Kg</th>
                            </tr>
                            <tr *ngFor="let item of shipments[i].elements;"  (click)='changeShipmentVisibility(i);'>
                                <td id="GLSRef">{{item.idShipment}}</td>
                                <td id="GLSArticle">{{item.note}}</td>
                                <td id="weight">{{item.weight}}</td>
                            </tr>
                        </table>
                    </span>
                    <ng-template  #elseNoGLS>
                        <table class="shipmentsRow">
                            <tr  (click)='changeShipmentVisibility(i);'>
                                <th id="barCode">Bar Code</th>
                                <th id="length">Lun</th>
                                <th id="width">Lar</th>
                                <th id="height">Alt</th>
                                <th id="weight">Kg</th>
                                <th id="note">Note</th>
                            </tr>
                            <tr *ngFor="let item of shipments[i].elements;"  (click)='changeShipmentVisibility(i);'>
                                <td id="barCode">{{item.idShipment}}</td>
                                <td id="length">{{item.length}}</td>
                                <td id="width">{{item.width}}</td>
                                <td id="height">{{item.height}}</td>
                                <td id="weight">{{item.weight}}</td>
                                <td id="note">{{item.note}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </span>
                <ng-template style='font-size: xx-large' #elseBlock>
                    <button class="astext" (click)='changeShipmentVisibility(i);'>+</button>
                </ng-template>
            </div>
        </td>
    </tr>
</table>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="sendEmail()">Spedisci mail</button>
    <button class="mat-raised-button mat-primary"(click)="closeDialog()">Esci</button>
</mat-dialog-actions>