.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: x-large;
}

.details-container {
    display: flex; /* Enables horizontal alignment */
    align-items: center; /* Vertically centers items */
    gap: 10px; /* Adds spacing between the button and the table */
}

.details-container table {
    margin: 0; /* Ensures no additional margin is applied to the table */
}

.caption {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

table th, td {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

table.shipments th, td {
	/* border: 1px solid black; for older IE */
    padding: 5px;
	border: 1px solid black; 

}

table.shipmentsRow {
    width: 100% !important;
    /* border: 1px solid black; for older IE */
}

table.shipments th#selected,
table.shipments td#selected {
    flex: 0 0 5% !important;
    width: 5% !important;
    vertical-align: middle; /* Vertically center the content in the cell */
    text-align: center; /* Horizontally center the content in the cell */
    padding: 0; /* Remove any extra padding */
}

table.shipments td#selected mat-checkbox {
    display: inline-flex; /* Use inline-flex for better alignment */
    align-items: center; /* Vertically align items in the middle */
    justify-content: center; /* Horizontally center items */
    height: 100%; /* Ensure the checkbox spans the full cell height */
}

table.shipments th#customer,td#customer {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#address,td#address {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px;
}

table.shipments th#shipmentNo,td#shipmentNo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px;
}

table.shipments th#province,td#province {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 3% !important;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px 2px 0px 0px;
}


table.shipments th#ddt,td#ddt {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#insurance,td#insurance {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipments th#sNote,td#sNote {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


table.shipments th#details,td#details {
    width: 35% !important;
    flex: 0 0 35% !important;
    text-align: left !important;
    justify-content: flex-end;      
}

table.shipmentsRow th#barCode,td#barCode {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    text-align: left !important;
    justify-content: flex-end;      
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#GLSRef,td#GLSRef {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    text-align: left !important;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 1px;
}
table.shipmentsRow th#GLSArticle,td#GLSArticle {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 65% !important;
    width: 65% !important;
    text-align: left !important;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 1px;
}

table.shipmentsRow th#length,td#length {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;      
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#width,td#width {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#height,td#height {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#weight,td#weight {
    word-wrap: break-word !important;
    word-break: break-word;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    text-align: right !important;    
    justify-content: flex-end;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table.shipmentsRow th#note,td#note {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 10px;
}
