<table>
    <tr style="vertical-align: top;">
        <td colspan="3">
            <table style='width: 100%; height: 100%;'>
                <tr>
                    <td style='text-align: center; font-weight:bold; width: 50%;'>
                        Ordine
                    </td>
                    <td></td>
                    <td></td>
                    <td style='text-align: left; width: 250%;'>Statistiche</td>
                </tr>
                <tr>
                    <td style='text-align: center; font-weight:bold;'>
                        {{ orderHandler.details.orderRef }}<br>{{ orderHandler.details.customerDescription }}
                    </td>
                    <td style='text-align: center;'>
                        <mat-form-field appearance="fill" [style.width.px]=65 [style.font-size.px]=12>
                            <mat-label style="font-size: 12px;">Valore: </mat-label>
                            <input matInput
                                    matInputNumeric
                                    id="orderValue"
                                    [appTwoDigitDecimalNumber]=0
                                    [(ngModel)]="orderValue"
                                    (change)="onAttributeChange($event)"
                                    maxlength="5"
                                    type="text" style='font-size: small;font-weight: bold; text-align: right;' >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style='width: 150px; font-size: 12px;'>
                            <mat-label style="font-size: 12px;">Approntamento: </mat-label>
                            <input matInput 
                                    [matDatepicker]="requestedAssemblyDate" 
                                    [(ngModel)]="orderHandler.details.requestedAssemblyDate"
                                    (ngModelChange)="onAttributeChange({source: {_id: 'requestedAssemblyDate', 'value' : $event}})"
                                    placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="requestedAssemblyDate"></mat-datepicker-toggle>
                            <mat-datepicker #requestedAssemblyDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:75px !important; text-align: right; font-size: 12px">
                            <mat-label [style.font-size.px]=12>Aut</mat-label>
                            <input matInput id="assemblyTimeAuto"
                                    [(ngModel)]="orderHandler.details.assemblyTimeAuto" 
                                    maxlength="3"
                                    disabled>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field appearance="fill" style="width:75px !important; text-align: right; font-size: 12px">
                            <mat-label [style.font-size.px]=12>Man</mat-label>
                            <input matInput id="assemblyTime"
                                    [(ngModel)]="orderHandler.details.assemblyTime" 
                                    (change)="onAttributeChange($event)"
                                    maxlength="3">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="vertical-align: top;">
        <td>
            <mat-form-field appearance="fill">
                <mat-label [style.font-size.px]=12>Stato</mat-label>
                <mat-select style="font-size: 12px;"
                        [(ngModel)]="orderHandler.details.status"
                        (selectionChange)="onOrderStatusChange($event)">
                    <div *ngFor="let item of status;" >
                        <mat-option [value]="item.id" [disabled]="item.disabled" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label [style.font-size.px]=12>Vettore</mat-label>
                <mat-select style="font-size: 12px;"
                            id="forwarder"
                            [(ngModel)]="orderHandler.details.forwarder" 
                            (selectionChange)="onAttributeChange($event)">
                    <div *ngFor="let item of forwarder;" >
                        <mat-option [value]="item.id" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td colspan="2">
            <mat-form-field appearance="fill" rows="1" style="width: 320px !important">
                <mat-label [style.font-size.px]=12>Note</mat-label>
                <textarea matInput [(ngModel)]="orderHandler.note.note" 
                                (change)="onOrderNoteChange($event)"
                                style="line-height: 17px !important;max-height: 17px !important; resize: none; font-size: 12px;">
                </textarea>
            </mat-form-field>
        </td>
    </tr>
    <tr style='vertical-align: top;'>
        <td colspan="2">
            <div *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status)">
                <div *ngIf="orderHandler.details.forwarder=='CES'">
                    <table>
                        <tr>
                            <th colspan=5 style='text-align: left;'>
                                Informazioni di Packaging
                            </th>
                        </tr>                    
                        <tr style='text-align: left;' >          
                            <td>
                                <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                    <mat-label [style.font-size.px]=12>Lun</mat-label>
                                    <input matInput id="length"
                                            [(ngModel)]="orderHandler.shipments[0].length" 
                                            (change)="onShipmentAttributeChange($event)"
                                            placeholder="Larghezza"
                                            maxlength="3">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                    <mat-label [style.font-size.px]=12>Lar</mat-label>
                                    <input matInput id="width"
                                            [(ngModel)]="orderHandler.shipments[0].width" 
                                            (change)="onShipmentAttributeChange($event)"
                                            placeholder="Larghezza"
                                            maxlength="3">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                    <mat-label [style.font-size.px]=12>Alt</mat-label>
                                    <input matInput id="height"
                                        [(ngModel)]="orderHandler.shipments[0].height" 
                                        (change)="onShipmentAttributeChange($event)"
                                        placeholder="Altezza"
                                        maxlength="3">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                    <mat-label [style.font-size.px]=12>Kg</mat-label>
                                    <input matInput id="weight"
                                        [(ngModel)]="orderHandler.shipments[0].weight" 
                                        (change)="onShipmentAttributeChange($event)"
                                        placeholder="Peso"
                                        maxlength="3">
                                </mat-form-field>
                            </td>
                            <td style="vertical-align: top">
                                <span *ngIf="attributeInSet(['PRE'], orderHandler.details.status)">
                                    <button mat-button id="addShipment" (click)="addShipment()" style='height: 40px;'>
                                        <span *ngIf="orderHandler.shipments.length>1" style="color: red; font-weight: bold;font-size: 16px">+</span>
                                        <span *ngIf="orderHandler.shipments.length<=1" style="color: black;font-size: 16px;">+</span>
                                    </button>    
                                </span>
                                <ng-template #elseBlock>&nbsp;</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="attributeInSet(['TWS', 'GLS', 'CLI'], orderHandler.details.forwarder)">
                    <table>
                        <tr>
                            <th colspan=5 style='text-align: left;'>
                                <a *ngIf="attributeInSet(['PRE'], orderHandler.details.status) ; else noPckgUpd" 
                                    mat-button id="changPackaging" 
                                    (click)="changPackaging()">
                                    Modifica package articoli
                                </a>
                                <ng-template #noPckgUpd>
                                    Informazioni di Packaging
                                </ng-template>
                            </th>
                        </tr>                    
                        <tr style='text-align: left;'>
                            <td>
                                <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                    <mat-label [style.font-size.px]=12>Colli</mat-label>
                                    <input matInput id="numberOfItems"
                                            [(ngModel)]="orderHandler.details.numberOfItems" 
                                            (change)="onAttributeChange($event)"
                                            placeholder="Colli">
                                </mat-form-field>
                            </td>
                            <ng-template #noPckgChg>
                                <td style='width: 180px' colspan="4">
                                    &nbsp;
                                </td>
                            </ng-template>
                        </tr>
                    </table>
                </div>
            </div>

            <div *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && orderHandler.details.forwarder!='CLI' ; else cliShipment ">
                <table>
                    <tr >
                        <th colspan=5 style='text-align: left;'>
                            Spedizione
                        </th>
                    </tr>
                    <tr>
                        <td style='vertical-align: center;'>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>Cli</mat-label>
                                <input matInput id="clientCost"
                                        [(ngModel)]="orderHandler.details.clientCost" 
                                        (change)="onAttributeChange($event)"
                                        maxlength="7"
                                        [disabled]="(attributeInSet(['CES'], orderHandler.details.forwarder) ? true : false)"/>
                            </mat-form-field>
                        </td>
                        <td style='vertical-align: center;'>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>Vet</mat-label>
                                <input matInput id="forwarderCost"
                                        [(ngModel)]="orderHandler.details.forwarderCost" 
                                        maxlength="7"
                                        disabled="true;">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>Ass</mat-label>
                                <input matInput id="insuranceCost"
                                        [(ngModel)]="orderHandler.details.insuranceCost" 
                                        (change)="onAttributeChange($event)"
                                        maxlength="5">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>DDT</mat-label>
                                <input matInput id="transportDocNum"
                                    [(ngModel)]="orderHandler.details.transportDocNum" 
                                    (change)="onAttributeChange($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>Prov</mat-label>
                                <input matInput id="province"
                                    [(ngModel)]="orderHandler.customerDelivery.province" 
                                    (change)="onDeliveryAttributeChange($event)">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
            <ng-template #cliShipment>
                <table>
                    <tr >
                        <th colspan=5 style='text-align: left;'>
                            Spedizione
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>DDT</mat-label>
                                <input matInput id="transportDocNum"
                                    [(ngModel)]="orderHandler.details.transportDocNum" 
                                    (change)="onAttributeChange($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill" style="width:60px !important; text-align: right;"  [style.font-size.px]=12>
                                <mat-label [style.font-size.px]=12>Prov</mat-label>
                                <input matInput id="province"
                                    [(ngModel)]="orderHandler.customerDelivery.province" 
                                    (change)="onDeliveryAttributeChange($event)">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && orderHandler.details.forwarder=='CLI'">
            </div>
        </td>
        <td colspan="2" style='text-align: left;'>
            <table>
                <tr>
                    <td>
                        <div *ngIf="attributeInSet(['RDY'], orderHandler.details.status)">
                            <button mat-button id="printLab" (click)="printLabels()">Etichette</button>
                        </div>
                        &nbsp;
                    </td>
                    <td>
                        <div *ngIf="attributeInSet(['RDY'], orderHandler.details.status)">
                            <button mat-button id="mailPick" (click)="mailPickup()">Mail Pickup</button>
                        </div>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="attributeInSet(['PRE', 'RDY', 'SHI', 'INV'], orderHandler.details.status)">
                            <button onclick="document.getElementById('uploadFile').click()">Scegli DDT</button>
                            <input (change)="onFileSelected($event)" 
                                style="display:none" type="file" id="uploadFile" accept=".pdf" >
                        </div>
                        &nbsp;
                    </td>
                    <td style='text-align: left;'>
                        <div *ngIf="attributeInSet(['PRE', 'RDY', 'SHI', 'INV'], orderHandler.details.status)">
                            {{(file == null || file.name == null ? "" : file.name)}}
                            <span *ngIf="attributeInSet(['PRE', 'RDY', 'SHI', 'INV'], orderHandler.details.status) && file != null">
                                &nbsp; 
                                <button mat-button id="uploadDDT" (click)="uploadDDT()" type="button" >Carica</button>
                                &nbsp; 
                                <button mat-button id="cancelUploadDDT" (click)="file = null" type="button" >Cancella</button>
                            </span>
                        </div>
                        &nbsp;
                    </td>
                </tr>
           </table>
        </td>
    </tr>
</table>