<table style='border: 1px solid black; vertical-align: top;'>
    <tr>
        <td>
            <p style='font-weight:bold'>
                INSERISCI I CRITERI DI RICERCA
                &nbsp;
                <a href="javascript: void(0);" (click)="searchOrders()">Cerca</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=100>
                <mat-label>Cliente: </mat-label>
                <input matInput
                        id="searchFilterCustomer"
                        [(ngModel)]="searchFilter.customer"
                        maxlength="30"
                        type="text" style='font-size: small;' >
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=70>
                <mat-label>Ordine: </mat-label>
                <input matInput
                        matInputNumeric
                        id="searchFilterOrder"
                        [appTwoDigitDecimalNumber]=0
                        [(ngModel)]="searchFilter.order"
                        maxlength="5"
                        type="text" style='font-size: small;' >
                 <!-- <mat-hint>(solo parte numerica)</mat-hint> -->
            </mat-form-field>            
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=110>
                <mat-label>Da data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterFromDate" 
                    [(ngModel)]="searchFilter.fromDate"
                    placeholder="Scegli data">
                    <mat-datepicker-toggle matSuffix [for]="searchFilterFromDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterFromDate></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=110>
                <mat-label>A data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterToDate" 
                    [(ngModel)]="searchFilter.toDate"
                    placeholder="Scegli data"> 
                <mat-datepicker-toggle matSuffix [for]="searchFilterToDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterToDate></mat-datepicker>
            </mat-form-field>                
        </td>
    </tr>
</table>

<div>
    <mat-table [dataSource]="dataSource" id="orders" matSort style="max-width: 99%;">
        <ng-container matColumnDef="customerRefERP">
            <mat-header-cell *matHeaderCellDef>Codice</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.customerRefERP}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="customerDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.customerDescription}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="orderRef">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ordine</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.orderRef}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>St</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.status}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="forwarder">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vet</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.forwarder}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="customerDeliveryProvince">
            <mat-header-cell *matHeaderCellDef>PV</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.customerDeliveryProvince}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="effectiveAssemblyDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Assemblato</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.effectiveAssemblyDate|date:'dd/MM/yy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="shipmentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Spedito</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.shipmentDate|date:'dd/MM/yy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sourceIssue">
            <mat-header-cell *matHeaderCellDef>E</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.sourceIssue}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="compositionBoards">
            <mat-header-cell *matHeaderCellDef>B</mat-header-cell>
            <mat-cell *matCellDef="let order" [ngClass]="{'highlightBoards':order.compositionBoards>0}">
                {{order.compositionBoards > 0 ? order.compositionBoards : " "}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="compositionTrays">
            <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
            <mat-cell *matCellDef="let order" [ngClass]="{'highlightTrays':order.compositionTrays>0}">
                {{(order.compositionTrays > 0 ? order.compositionTrays : " ")}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="compositionDesign">
            <mat-header-cell *matHeaderCellDef>D</mat-header-cell>
            <mat-cell *matCellDef="let order" [ngClass]="{'highlightDesign':order.compositionDesign>0}">
                {{(order.compositionDesign > 0 ? order.compositionDesign : " ")}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="compositionAccessories">
            <mat-header-cell *matHeaderCellDef>A</mat-header-cell>
            <mat-cell *matCellDef="let order" [ngClass]="{'highlightAccessories':order.compositionAccessories>0}">
                {{(order.compositionAccessories > 0 ? order.compositionAccessories : " ")}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="empty1">
            <mat-header-cell *matHeaderCellDef>{{ empty }}</mat-header-cell>
            <mat-cell *matCellDef="let order">
                {{ empty }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="PL">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let order;" (click)="openDocument('PL', order.orderRef)">
                <a href="javascript: void(0);">PL</a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="OC">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let order;" (click)="openDocument('OC', order.orderRef)">
                <a href="javascript: void(0);">OC</a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CC">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let order;" (click)="openDocument('CC', order.orderRef)">
                <a href="javascript: void(0);">CC</a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DTV">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let order;" (click)="openDocument('DTV', order.orderRef)">
                <a href="javascript: void(0);">DTV</a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getOrdersDisplayedColumns();"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getOrdersDisplayedColumns();"></mat-row>
    </mat-table>
</div>
