<p class="mat-h3" style='text-align: center;'>
    {{ caption }} {{ order.orderRef }}
</p>

<mat-table [dataSource]="dataSourceShipments" id="shipments">
    <ng-container matColumnDef="length">
        <mat-header-cell *matHeaderCellDef>Lun</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.length}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="width">
        <mat-header-cell *matHeaderCellDef>Lar</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.width}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="height">
        <mat-header-cell *matHeaderCellDef>ALt</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.height}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef>Kg</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.weight}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="forwarderCost">
        <mat-header-cell *matHeaderCellDef>Vet</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.forwarderCost}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="clientCost">
        <mat-header-cell *matHeaderCellDef>Cli</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.clientCost}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
        <mat-cell class="mat-body" *matCellDef="let shipment">{{shipment.note}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="getShipmentDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getShipmentDisplayedColumns()" (click)="editShipment(row)"></mat-row>
</mat-table>
<br>
<br>
<table>
    <tr style='text-align: left;'>
        <td style="width:100px">
            <mat-label class="mat-body">Dimensioni</mat-label>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Lun</mat-label>
                <input matInput id="length"
                        matInputNumeric 
                        [decimals]="0"
                        [negative]="0"
                        [(ngModel)]="shipment.length"
                        (change)="calculateShipmentCosts()"
                        maxlength="3"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Lar</mat-label>
                <input matInput id="width" type="number"
                        matInputNumeric 
                        [decimals]="0"
                        [negative]="0"
                        [(ngModel)]="shipment.width" 
                        (change)="calculateShipmentCosts()"
                        maxlength="3"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Alt</mat-label>
                <input matInput id="height" type="number"
                        matInputNumeric 
                        [decimals]="0"
                        [negative]="0"
                        [(ngModel)]="shipment.height" 
                        (change)="calculateShipmentCosts()"
                        maxlength="3"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Kg</mat-label>
                <input matInput id="weight" type="number"
                        matInputNumeric 
                        [decimals]="0"
                        [negative]="0"
                        [(ngModel)]="shipment.weight" 
                        (change)="calculateShipmentCosts()"
                        maxlength="3"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Vet</mat-label>
                <input matInput id="forwarderCost"
                        matInputNumeric 
                        [decimals]="2"
                        [negative]="0"
                        [(ngModel)]="shipment.forwarderCost" 
                        maxlength="5" 
                        disabled="true"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:75px !important; text-align: right;">
                <mat-label>Cli</mat-label>
                <input matInput id="clientCost" type="number"
                        matInputNumeric 
                        [decimals]="0"
                        [negative]="0"
                        [(ngModel)]="shipment.clientCost" 
                        maxlength="5"
                        style='font-size: small; text-align: right;'
                        >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" style="width:300px !important; text-align: right;">
                <mat-label>Note</mat-label>
                <input matInput id="note"
                        [(ngModel)]="shipment.note" 
                        maxlength="80"
                        style='font-size: small'
                        >
            </mat-form-field>
        </td>
        <td>
            <button mat-button id="saveShipment" (click)="saveShipment()"> Salva </button>
            <br>
            <button mat-button id="newShipment" (click)="newShipment()">Cancella</button>
        </td>
    </tr>
    <button mat-button id="close" (click)="closeForm()">Chiudi</button>
</table>
