textarea {
    width: 450px;
    height: 150px;
    overflow-y: scroll;
    resize: none;
    background-color: #ffffff;
}
/*
div#output {
    max-width: 475px;
    min-height: 140px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: wrap;
    resize: none;
    white-space: pre-wrap;
    font-size: 14px;
}
*/
.div-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.div-user {
    flex: 1;
    overflow-y: auto;
    overflow-x: wrap;
    resize: none;
    white-space: pre-wrap;
    font-size: 12px;
}

.div-message {
    flex: 1;
    font-size: 12px;
    background: green;
    position: sticky;
    top: 300;
    left: 0;
    right: 0;   
}

input {
    width: 300px;
}

.redStatement {
    color: red;
    font-size: 12px;
}

.greenStatement {
    color: green;
    font-size: 12px;
}

.blueStatement {
    color: blue;
    font-size: 12px;
}

.mat-mdc-option {
    font-size: 12px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    min-height: 30px !important;
  }