<table style="width: 100%">
  <tr>
    <td style="width: 50%">
      <a href="">
        <img [src]="imgPath" alt="logo wedi" />
      </a>
    </td>
    <td style="width: 50%; text-align: right">
      <!--
      <div class="md-menu-demo" ng-cloak>
        <div class="menu-demo-container" layout-align="center center" layout="column">
  <h2 class="md-title">Custom triggers</h2>
  <p>
    You can customize the events that open and close a menu by using the <code>$mdMenu.open</code> and
    <code>$mdMenu.close</code> methods. This is an example of triggering a menu on hover, instead of click.
  </p>
          <md-menu>
            <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
              <md-icon md-menu-origin></md-icon>
                <img [src]="menuIcon" alt="menu icon">
            </md-button>
            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
              <md-menu-item ng-repeat="item in [1, 2, 3]">
                <md-button>
                  Option {{item}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
-->
      <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button mat-menu-item (click)="orders()">
          <mat-icon>home</mat-icon>
          <span>Preparazione ordini</span>
        </button>
        <button mat-menu-item (click)="shipmentSearch()">
          <mat-icon>search</mat-icon>
          <span>Storico ordini</span>
        </button>
        <button mat-menu-item (click)="shipmentsPending()">
          <mat-icon>add_alert</mat-icon>
          <span>Verifica stato spedizioni</span>
        </button>
        <button mat-menu-item (click)="ardexFunctions()">
          <mat-icon>add_alert</mat-icon>
          <span>Funzioni Ardex</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="adminMenu">
          Funzioni Varie
        </button>
      </mat-menu>
      <mat-menu #adminMenu="matMenu">
        <button mat-menu-item (click)="importStock()">
          <mat-icon>dialpad</mat-icon>
          <span>Importa stato magazzino</span>
        </button>
        <button mat-menu-item (click)="setup()">
          <mat-icon>settings</mat-icon>
          <span>Configurazione</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
