.header {
    display: flex;
    max-height:25%; 
    min-height:25%;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.orderDetails {
    max-height:70%; 
    min-height:70%;
    flex-grow: 1;
}


.mdc-text-field {
    width: 50px;
}

.mat-column-status {
    flex: 0 0 6% !important;
    width: 6% !important;
}

.mat-column-forwarder {
    flex: 0 0 6% !important;
    width: 6% !important;
}
   
.mat-column-orderRef {
    flex: 0 0 8% !important;
    width: 8% !important;
}

.mat-column-customerRefERP {
    flex: 0 0 9% !important;
    width: 9% !important;
}

.mat-column-customerDescription {
    flex: 0 0 32% !important;
    width: 32% !important;
}

.mat-column-sourceIssue {
    flex: 0 0 3% !important;
    width: 3% !important;
}

.mat-mdc-colum-shipmentDate {
    flex: 0 0 12% !important;
    width: 12% !important;
    justify-content: left;
}

.mat-mdc-colum-requestedAssemblyDate {
    flex: 0 0 12% !important;
    width: 12% !important;
    justify-content: left;
}

.mat-mdc-colum-compositionBoards {
    flex: 0 0 5% !important;
    width: 5% !important;
    justify-content: center;
}
.mat-mdc-colum-compositionTrays {
    flex: 0 0 5% !important;
    width: 5% !important;
    justify-content: center;
}
.mat-mdc-colum-compositionDesign {
    flex: 0 0 5% !important;
    width: 5% !important;
    justify-content: center;
}
.mat-mdc-colum-compositionAccessories {
    flex: 0 0 5% !important;
    width: 5% !important;
    justify-content: center;
}


.highlightBoards {
    background: green;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightTrays {
    background: red; 
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightDesign {
    background: blue;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightAccessories {
    background: yellow;
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.mat-column-empty {
    flex: 0 0 3% !important;
    width: 3% !important;
    justify-content: center;
}


.mat-column-articleRefERP {
    flex: 0 0 17% !important;
    width: 17% !important;
}

.mat-column-articleDescription {
    flex: 0 0 45% !important;
    width: 45% !important;
}

.mat-column-articleSourceIssue {
    flex: 0 0 5% !important;
    width: 5% !important;
    color: red;
}

.mat-column-piecesFromSqm {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: right;
    justify-content: flex-end;
  }

.mat-column-quantity {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: right;
    justify-content: flex-end;
  }

  .mat-column-articleUnityOfMeasure {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: center;
    justify-content: flex-end;
}