.header {
    display: flex;
    min-height: 340px !important;
    max-height: 340px !important;
    height: 340px !important;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.orderDetails {
    width: 100%;
    height:500px !important;
    max-height:500px; 
    min-height:500px;
    flex-grow: 1;
}

mat-table {
    table-layout: fixed;
}

.details-table .mdc-data-table__cell,
.details-table .mdc-data-table__header-cell {
  padding: 0 4px !important;
}

.mat-column-status {
    flex: 0 0 30px !important;
    width: 30px !important;
}

.mat-column-forwarder {
    flex: 0 0 30px !important;
    width: 30px !important;
}
   
.mat-column-orderRef {
    flex: 0 0 110px !important;
    width: 110px !important;
}

.mat-column-customerRefERP {
    flex: 0 0 110px !important;
    width: 110px !important;
}

.mat-column-customerDescription {
    flex: 0 0 250px !important;
    width: 250px !important;
}

.mat-column-shipmentDate {
    flex: 0 0 80px !important;
    width: 80px !important;
}

.mat-column-requestedAssemblyDate {
    flex: 0 0 80px !important;
    width: 80px !important;
}

.mat-column-forwarderCost {
    flex: 0 0 80px !important;
    width: 80px !important;
    justify-content: right;
}

.mat-column-clientCost {
    flex: 0 0 80px !important;
    width: 80px !important;
    justify-content: right;
}

.mat-column-sourceIssue {
    flex: 0 0 40px !important;
    width: 40px !important;
}

.mat-column-compositionBoards {
    flex: 0 0 35px !important;
    width: 35px !important;
    justify-content: center;
}
.mat-column-compositionTrays {
    flex: 0 0 35px !important;
    width: 35px !important;
    justify-content: center;
}
.mat-column-compositionDesign {
    flex: 0 0 35px !important;
    width: 35px !important;
    justify-content: center;
}
.mat-column-compositionAccessories {
    flex: 0 0 35px !important;
    width: 35px !important;
    justify-content: center;
}

.mat-column-empty {
    flex: 0 0 10px !important;
    width: 10px !important;
    justify-content: center;
}

.highlightBoards {
    background: green;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightTrays {
    background: red; 
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightDesign {
    background: blue;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.highlightAccessories {
    background: yellow;
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.mat-column-articleRefERP {
    flex: 0 0 17% !important;
    width: 17% !important;
}

.mat-column-articleDescription {
    flex: 0 0 42% !important;
    width: 42% !important;
}

.mat-column-articleSourceIssue {
    flex: 0 0 8% !important;
    width: 8% !important;
    color: red;
}

.mat-column-piecesFromSqm {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: right;
    justify-content: flex-end;
  }

.mat-column-quantity {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: right;
    justify-content: flex-end;
  }

  .mat-column-articleUnityOfMeasure {
    flex: 0 0 11% !important;
    width: 11% !important;
    text-align: center;
    justify-content: flex-end;
}