@use '@angular/material' as mat;


/* You can add global styles to this file, and also import other style files */
@include mat.core(); 


@import "@angular/material/prebuilt-themes/indigo-pink.css";

.orderMngrAX {
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    table {
        font-family: Sans-Serif;
        font-size: 12px;
        border-spacing: 0 1px; 
    }

    .mat-column  {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-cell {
        font-family: Sans-Serif;
        font-size: 12px;
    }
    
    
    .mat-mdc-header-cell {
        font-size: 11px;
        color: blue;
    }
    

    .mat-cb-label-small {
        font-size: 6px;
    }
    
    .mat-mdc-row {
        font-family: Sans-Serif;
        font-size: 10px;
    }
    
    .mat-mdc-row:nth-child(odd) {
        background-color:#FDFDFB;
    }
    
    .mat-mdc-row:nth-child(even) {
        background-color:rgba(126, 123, 123, 0.062);
    }
    
    .mat-mdc-row:hover{
        background-color: #e7eff1 !important;
    }

    .mat-mdc-form-field-label {
        width: 70px !important;
    }
    
    .mat-mdc-floating-label{
        color: green;
        font-size: 8px;
    }
    .mat-mdc-floating-label--float-above{
       color:  green;
       font-size: 8px;
    }
    .mat-mdc-floating-label-label--shake{
       color:  green;
       font-size: 8px;
    }

    .mat-pseudo-checkbox-checked {
        background-color: #CF5F5FEE;
    }

    .mat-checkbox-frame {
        border-radius: 0 !important;
    }

    .mat-checkbox-checked,
    .mat-checkbox-indeterminate {
        .mat-checkbox-background {
            background-color: #CF5F5FEE;
            border-radius: 0 !important;
        }
    }

    .mat-mdc-checkbox {
        label {
            cursor: pointer;
            font-size: 10px;
        }
        --mdc-checkbox-selected-checkmark-color: #ffffff;
        --mdc-checkbox-selected-icon-color: #CF5F5FEE;
        --mdc-checkbox-selected-focus-icon-color: #CF5F5FEE;
        --mdc-checkbox-selected-hover-icon-color: #CF5F5FEE;
        --mdc-checkbox-selected-pressed-icon-color: #CF5F5FEE;
        --mdc-checkbox-state-layer-size: 0;
        --mdc-checkbox-unselected-focus-state-layer-opacity: 0;

        &.mat-mdc-checkbox-disabled {
            .mdc-checkbox {
                .mdc-checkbox__background {
                    --mdc-checkbox-disabled-selected-icon-color: transparent;
                }
            }
        }

        .mdc-form-field {
            --mdc-typography-body2-letter-spacing: normal;
        }
    }
}