
<table >
    <tr>
        <th>
            <div>SPEDIZIONI</div>
            <div>
                <mat-checkbox labelPosition="after" id='chkRCD' [(ngModel)]="profile.filters.filterArdex[0]"
                              [checked]="profile.filters.filterArdex[0]"
                              (change)="changeProfileFilters($event)">
                    Storico
                </mat-checkbox>                            
                <mat-checkbox labelPosition="after" id='chkPLN' [(ngModel)]="profile.filters.filterArdex[1]"
                              [checked]="profile.filters.filterArdex[1]"
                              (change)="changeProfileFilters($event)">
                    Pianificate
                </mat-checkbox>                            
                <mat-checkbox labelPosition="after" id='chkINC' [(ngModel)]="profile.filters.filterArdex[2]"
                              [checked]="profile.filters.filterArdex[2]"
                              (change)="changeProfileFilters($event)">
                    Da scaricare
                </mat-checkbox>                            
            </div>
        </th>
        <th>
            PALLET <br>
            {{currentShipmentId == 0 ? '' : 'Shipment: ' + currentShipmentId}}
        </th>
        <th>
            ARTICOLI<br>
            {{currentPalletId == 0 ? '' : 'Pallet: ' + currentPalletId}}
        </th>
    </tr>
    <tr>
        <td style="width: 360px; border: 1px solid black; border-collapse: collapse; padding-left: 10px; padding-right: 10px; vertical-align: top;">
            <div style='min-height:350px; overflow-y:auto'>
                <mat-table [dataSource]="shipmentDS" id="shipments" matSort>
                    <ng-container matColumnDef="idShipment">
                        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                        <mat-cell *matCellDef="let shipment"
                                  (contextmenu)="onContextMenu($event, shipment)">
                            {{shipment.idShipment}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                        <mat-cell *matCellDef="let shipment"
                                  (contextmenu)="onContextMenu($event, shipment)">
                            {{shipment.date|date:'dd/MM/yy'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numOfPallets">
                        <mat-header-cell *matHeaderCellDef>N° Pallet</mat-header-cell>
                        <mat-cell *matCellDef="let shipment"
                                  (contextmenu)="onContextMenu($event, shipment)">
                            {{shipment.numOfPallets}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                        <mat-cell *matCellDef="let shipment"
                                  (contextmenu)="onContextMenu($event, shipment)">
                            {{shipment.status}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="getShipmentDisplayedColumns()"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: getShipmentDisplayedColumns()" 
                             (click)="listPallets(row)"
                             [ngStyle]="{'color': (currentShipmentId === row.idShipment) ? 'red' : 'black'}" >
                    </mat-row>
                </mat-table>
            </div>
            <mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
                <ng-template matMenuContent let-item="shipment">
                    <button mat-menu-item (click)="changeShipmentStatus(shipment)">
                        Cambia stato spedizione
                    </button>
                    <button mat-menu-item (click)="printoutShipment(shipment)">
                        Stampa spedizione
                    </button>
                </ng-template>
            </mat-menu>
 
            <div style="visibility: hidden; position: fixed"
                [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y"
                [matMenuTriggerFor]="contextMenu">
            </div>      
       </td>
        <td style="width: 260px; padding-left: 10px;padding-right: 10px; vertical-align: top; border: 1px solid black; border-collapse: collapse">
            <div style='min-height:350px; overflow-y:auto'>
                <mat-table [dataSource]="palletDS" id="pallets" matSort>
                    <ng-container matColumnDef="idPallet" [ngStyle]="{'color': (currentPalletId === pallet?.idPallet) ? 'red' : 'black'}">
                        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                        <mat-cell *matCellDef="let pallet">{{pallet.idPallet}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="barcode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</mat-header-cell>
                        <mat-cell *matCellDef="let pallet">{{pallet.barcode}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="getPalletDisplayedColumns()"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: getPalletDisplayedColumns()" (click)="listArticles(row)"
                             [ngStyle]="{'color': (currentPalletId === row.idPallet) ? 'red' : 'black'}" >
                    </mat-row>
                </mat-table>
            </div>

        </td>
        <td style="width: 740px; padding-left: 10px; padding-right: 10px; vertical-align: top; border: 1px solid black; border-collapse: collapse">
            <div style='min-height:350px; overflow-y:auto'>
                <mat-table [dataSource]="articleDS" id="articles" matSort>
                    <ng-container matColumnDef="ardexArticleId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.ardexArticleId}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.description}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numOfItems">
                        <mat-header-cell *matHeaderCellDef>Quantità</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.numOfItems}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef>Peso</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.weight}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="batch">
                        <mat-header-cell *matHeaderCellDef>Lotto</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.batch}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="expiryDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Scadenza</mat-header-cell>
                        <mat-cell *matCellDef="let article">{{article.expiryDate|date:'dd/MM/yy'}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="getArticleDisplayedColumns()"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: getArticleDisplayedColumns()"></mat-row>
                </mat-table>
            </div>
        </td>
    </tr>
</table>

